
<div class="container mt-5 mb-5">
    <div class="row g-1">
        <div class="col-md-4">
            <div class="p-card">
              <img [src]="imgurl">
                <div class="p-details">
                    <div class="d-flex justify-content-between align-items-center mx-2">
                        <h5>Kathiyavadi Food</h5><span>Ahmedabad</span>
                    </div>
                    <div class="mx-2">
                        <hr class="line">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card">
              <a routerLink="aboutus"><img [src]="imgurl1"></a> 
                <div class="p-details">
                    <div class="d-flex justify-content-between align-items-center mx-2">
                        <h5>Panjabi Food</h5><span>Ahmedabad</span>
                    </div>
                    <div class="mx-2">
                        <hr class="line">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-card">
              <img [src]="imgurl2">
                <div class="p-details">
                    <div class="d-flex justify-content-between align-items-center mx-2">
                        <h5>Rajasthani Food</h5><span>Gandhinagar</span>
                    </div>
                    <div class="mx-2">
                        <hr class="line">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>